@{
    ViewBag.Title = "About";
}
        
        <h2 >About WrestleBoxd</h2>
        <div class="about">
            <p>WrestleBoxd is a Web MVC Application created by a wrestling fan who was inspired by letterboxd and wanted a way to create, track, and rate the matches that I watched. </p>
        </div>
