@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


<address style="color:white;">
    1241 East Main Street<br />
    Stamford, CT 06902<br />
    <abbr title="Phone">P:</abbr>
    203.352.8600
</address>

    <address style="color:white;">
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@wrestleboxd.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@wrestleboxd.com</a>
    </address>

