@{
    ViewBag.Title = "Home Page";
}
<body style="background-image:url(/Content/Assets/simon-lee-KDFUR-sG2Ls-unsplash.jpg)">
    <div class="jumbotron" style="background-image:url('/Content/Assets/WrestleBoxd (1).png'); margin-top: 20px;">
        <h1 style="color: #f9f7de">WrestleBoxd</h1>
        <p class="lead" style="color: #f9f7de">WrestleBoxd is a free application that allows users to keep track of their favorite wrestling matches and rate them. </p> 
        
    </div>

    <div class="row">
        <div class="col-md-4" style="color:#f9f7de">
            <h2 style="color:#f9f7de">Wrestlers</h2>
            <p>
                Check out all of the wrestlers entered into our database. Feel free to add your own!
            </p>
            <p><a class="btn btn-default" href="../Course/Index">Wrestlers &raquo;</a></p>
        </div>
        <div class="col-md-4" style="color:#f9f7de">
            <h2 style="color:#f9f7de">Ratings</h2>
            <p>Check out the ratings that users have added to various matches and wrestlers. Feel free to start logging your own today!</p>
            <p><a class="btn btn-default" href="../Rating/Index">Ratings &raquo;</a></p>
        </div>
        <div class="col-md-4" style="color: #f9f7de">
            <h2 style="color:#f9f7de">Matches</h2>
            <p>Matches is where users log various matches the users have seen. See something missing? Add your own!</p>
            <p><a class="btn btn-default" href="../Score/Index">Matches &raquo;</a></p>
        </div>
    </div>

</body>