@{
    ViewBag.Title = "About";
}
        <h2>About Golf Track</h2>
        <div class="about">
            <p>Golf Track is a Web MVC Application created by golfers for golfers.The goal of this application is to help the Golf Track community with ratings so they know the best courses to play. Also, it is a tool to keep track of your scores. This helps to track your improvement because inside of a golfer there is always a better golfer!</p>
        </div>
