@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title</h2>


    <address style="color:white;">
        One Golf Track Way<br />
        Augusta, GA 98052-6399<br />
        <abbr title="Phone">P:</abbr>
        425.555.0100
    </address>

    <address style="color:white;">
        <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@GolfTrack.com</a><br />
        <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@GolfTrack.com</a>
    </address>

