@{
    ViewBag.Title = "Home Page";
}
<body style="background-image:url(/Content/Assets/mowingpattern.jpg)">
    <div class="jumbotron" style="background-image:url(/Content/Assets/Titleleist.jpg); margin-top: 20px;">
        <h1>Golf Track</h1>
        <p class="lead">Golf Track is a free application for golfers around the world. This application allows our users to keep track of their favorite courses and their scores.</p>
        <p><a href="../Home/About" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4" style="color:#f3ec99">
            <h2>Courses</h2>
            <p>
                Check out the Golf Courses that Golf Track users have played and rated here. Feel free to add your own favorite courses for the Golf Track community!
            </p>
            <p><a class="btn btn-default" href="../Course/Index">Golf Courses &raquo;</a></p>
        </div>
        <div class="col-md-4" style="color:#f3ec99">
            <h2>Ratings</h2>
            <p>Check out the ratings that users have added to courses. Please add your opionions to on Golf Courses you have played to keep the Golf Track Community informed.</p>
            <p><a class="btn btn-default" href="../Rating/Index">Ratings &raquo;</a></p>
        </div>
        <div class="col-md-4" style="color:#f3ec99">
            <h2>Scores</h2>
            <p>Scores is where users of Golf Track track their scores. You are able to mark down your favorite rounds and keep track of your improvement!</p>
            <p><a class="btn btn-default" href="../Score/Index">Scores &raquo;</a></p>
        </div>
    </div>
</body>